---
layout: default
title: Home
permalink: "/"
---

<header>
    <h1 class="page-title">首頁</h1>
    <hr class="separator">
</header>

<section>
    <p><strong>作者近況：</strong><br>每週日晚上11:00更新氣象觀察站<br>thread上是本人</p>
</section>

<section>
    <h2>置頂文章</h2>
    {% assign sticky_post = site.posts | where: "sticky", true | first %}
    {% if sticky_post %}
        <article>
            <h3><a href="{{ sticky_post.url | relative_url}}">{{ sticky_post.title }}</a></h3>
        </article>
    {% else %}
        <p>目前沒有置頂文章。</p>
    {% endif %}
</section>

<section>
    <h2>最新文章</h2>
    <ul>
        {% for post in site.posts limit:3 %}
            
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            
        {% endfor %}
    </ul>
</section>
