<nav class="navbar">
  <div class="navbar-container">
    <!-- 漢堡選單按鈕 -->
    <button class="hamburger" onclick="toggleMenu()">☰</button>

    <div class="navbar-menu">
      <ul>
        {% assign nav_key = site.nav_data | default: "navigation_fanfic" %}
        {% assign nav_items = site.data[nav_key] %}
        {% for item in nav_items %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}

        <!-- Theme Switcher -->
        <li>{% include theme-switch.html %}</li>
      </ul>
    </div>
  </div>
</nav>

<script>

  function toggleMenu() {
    document.querySelector('.navbar-menu ul').classList.toggle('active');
  }

  // 點空白處自動關閉選單
  document.addEventListener('click', function (e) {
    const hamburger = document.querySelector('.hamburger');
    const menu = document.querySelector('.navbar-menu ul');

    if (!hamburger.contains(e.target) && !menu.contains(e.target)) {
      menu.classList.remove('active');
    }
  });
</script>