<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% include google-analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta property="og:image" content="{{ site.og_image }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4087964762824382"
     crossorigin="anonymous"></script>
</head>
<body>

    {% include navbar.html %}  <!-- 這裡插入導航欄 -->
    <div class="container">
        <main class="content">
            {{ content }}
            <!--{% include comments.html %}-->
        </main>
    </div>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} 國王和她的驢耳朵. All rights reserved.</p>
    </footer>
</body>
</html>
