<!DOCTYPE html>
<html lang="zh-TW">

<head>
    {% include google-analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4087964762824382"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>版權所有 &copy; {{ site.time | date: "%Y" }}</p>
    </footer>
</body>

</html>